@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.cdnfonts.com/css/911-porscha');

*,*:before,*:after{box-sizing:border-box}

body{
    min-height:100vh;
    font-family: 'Raleway', sans-serif;
}

.container1{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;

    &:hover,&:active{
        .top1, .bottom1{
            &:before, &:after{
                margin-left: 300px;
                transform-origin: -300px 50%;
                transition-delay:0s;
            }
        }

        .center1{
            opacity:1;
            transition-delay:0.2s;
        }
    }
}

.top1, .bottom1{
    &:before, &:after{
        content:'';
        display:block;
        position:absolute;
        width:200vmax;
        height:200vmax;
        top:50%;left:50%;
        margin-top:-100vmax;
        transform-origin: 0 50%;
        transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
        z-index:10;
        opacity:0.65;
        transition-delay:0.2s;
    }
}

.top1{
    &:before{transform:rotate(45deg);background:#2c0000;}
    &:after{transform:rotate(135deg);background:#5e1010;}
}

.bottom1{
    &:before{transform:rotate(-45deg);background:#641919;}
    &:after{transform:rotate(-135deg);background:#741b1b;}
}

.center1{
    position:absolute;
    width:400px;
    height:400px;
    top:50%;left:50%;
    margin-left:-200px;
    margin-top:-200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
    opacity:0;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay:0s;
    color:#333;

    & input {
        width:100%;
        padding:15px;
        margin:5px;
        border-radius:1px;
        border:1px solid #ccc;
        font-family:inherit;
    }
}

form{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {

    background-color: #741b1b; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #b83232; /* Change color on hover */
}

button:active {
    background-color: #741b1b; /* Change color on click */
}

.porsche1 {
    font-family: '911 Porscha';
    font-size: 40px;
    color: #741b1b;
    margin-bottom: 20px;
}